body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1E88E5;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

h2 {
    text-align: center;
    color: #0D47A1;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    color: #333;
}

select,
input[type="text"],
button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button {
    background-color: #1E88E5 color: white;
    border: none;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background-color: #1E88E5
}

.mensagem {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.sucesso {
    background-color: #C8E6C9;
    color: #2E7D32;
    border: 1px solid #A5D6A7;
}

.erro {
    background-color: #FFCDD2;
    color: #C62828;
    border: 1px solid #EF9A9A;
}

.endereco {
    margin-top: 10px;
    padding: 10px;
    background-color: #BBDEFB;
    border: 1px solid #90CAF9;
    border-radius: 5px;
    color: #0D47A1;
}

nav {
    background-color: #c6e2ff;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}